* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.editTable {
  display: flex;
  width: 800px;
  height: auto;
  flex-wrap: wrap;
  margin: 40px auto;
  justify-content: flex-start;

}

.box{
  margin:20px;
  width: 300px;
  border: 2.5px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding:25px;
  background-color: rgb(217, 192, 192);
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
  transition: 1.ms;
  
}

.box h4{
    font-size: 16px; 
}
.box .btn{
  margin: 0 auto;
}
